.orange {
    color: orange;
}

#mission-left-color {
    border-left: 3px solid;
    border-image-slice: 1;
    border-image: linear-gradient(yellow cyan);
}

.width {
    width: 50%;


}

.width img {
    width: 40%;

}

.focus-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 156px;


}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 7%;
}

.orange-year {
    color: orange;
}

h2 {
    text-align: center;
}

.mission-container {
    display: flex;


}

.my-mission {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 156px;

}

.divided-width {
    width: 33.3%;
}

.cart1 {
    margin-right: 24px;
}

.cart1 div {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 26px;
    bottom: 10%;
    padding: 33px 24px 45px 13px;
}

.cart1 img {
    width: 80%;
}

.cart2 {
    margin-right: 24px;

}

.cart2 div {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 26px;
    bottom: 10%;
    padding: 33px 24px 45px 13px;
}

.cart2 img {
    width: 80%;
}

.cart3 {
    background: #FFF4D6;
    border-radius: 26px;
    bottom: 10%;
    padding: 33px 24px 45px 13px;

}

.cart3 img {

    width: 80%;
}

.Develop {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 156px;

}

.width-girl img {
    width: 400px;
    height: 400px;
    left: 158px;
    top: 1185px;
    background: url(.jpg), #FFFFFF;
    border-radius: 26px;
}

.width-girl {
    width: 50%;
}

.Develop {
    padding-top: 50px;
    display: flex;
    margin-bottom: 100px;
}

.Down {
    margin-top: 50px;
}